.Grid {
  background: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
  margin: auto;
  padding: 20px;
  background-size: 300% 300%;
  outline: 0.2px solid black;

  animation: grad 10s ease infinite;
}

.container {
  outline: 1px solid black;
  display: inline-block;
  padding: 0;
  margin: 0;
  outline: 0.2px solid black;
}

@keyframes grad {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.button {
  border: 2px #4b79cf;
  background-color: #9cb9ee;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.startbutt:hover {
  background: linear-gradient(230deg, #4b79cf, #4bc5cf);
  background-size: 300% 300%;
  animation: buttgrad 5s ease infinite;
}


.row {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  height: 20px;
  vertical-align: top;
}

@keyframes myshift {
  0% {
    background-color: red;
  }

  25% {
    background-color: yellow;
  }

  50% {
    background-color: blue;
  }

  100% {
    background-color: purple;
  }
}

.blinking {
  animation: blinkingnGrowText 1.2s infinite;
}

@keyframes blinkingnGrowText {
  0% {
    color: white;
    font-size: 20px;
  }

  49% {
    color: white;
    font-size: 30px;
  }

  60% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: #000;
    font-size: 15px;
  }
}

.points {

  border: white;
  font-size: 30px;
  color: white;

  animation: blinkingText 2s ease-in-out infinite;




}


@keyframes blinkingText {
  0% {
    color: white;

  }

  49% {
    color: white;

  }

  60% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: #000;

  }
}

.crazy {
  background: rgb(81, 58, 180);
  border: 5px dashed white;

  background: linear-gradient(135deg, rgba(81, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 71%, rgba(252, 176, 69, 1) 100%);
  background-size: 200% 200%;
  animation: buttgrad 1s ease infinite;

}

.snake_crazy {
  background: rgb(2, 0, 36);
  background: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 25%, rgba(0, 212, 255, 1) 100%);
  animation: buttgrad 0.5s ease infinite;
}

@keyframes buttgrad {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.warning {

  font-size: 30px;


}